<div class="wrapper">
    <ul class="navbar">
        <li class="nav-item">
            <a routerLink="/dashboard"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" data-toggle="collapse" data-target="#navItem1" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-envelop"></i><span>Posts</span>
            </a>
            <div class="collapse" id="navItem1">
                <div class="card">
                    <a class="collapse-item" routerLink="/post-category">Post Category</a>
                    <a class="collapse-item" routerLink="/post">Add Post</a>
                    <a class="collapse-item" routerLink="/all-posts">All Posts</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper" id="sign-in">
    <div class="row">
        <ul class="navbar user">
            <li class="nav-item user">
                <a href="#" class="nav-link dropdown-toggle" id="user-drop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i><span>User</span>
                </a>

                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" routerLink="/change-password">
                        <i class="fas fa-user-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                        Change Password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/logout" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>