<div class="wrapper">
    <div mat-dialog-actions="logout_dialog">
        <div mat-dialog-title="logout_model_title">
            <h6>Are you sure you want to logout ?</h6>
        </div>
        <div mat-dialog-content="logout_model_content">
            <p class="message">Click "Sign Out" if you need to logout from the session.</p>
        </div>
        <div mat-dialog-close="logout_dialog_close">
            <div class="mat-raised-button mat-warn">Cancel</div>
            <a routerLink="/logout" class="mat-raised-button mat-primary">Sing Out</a>
        </div>
    </div>
</div>