<app-header></app-header>
<div class="layout-row layout-warp">
    <div class="title">
        <h3>Post Categories</h3>
    </div>
    <div class="layout-row flex-row">
        <h4 class="title"></h4>
    </div>
    <mat-card>
        <mat-form-field>
            <mat-label>Post Category</mat-label>
            <input matInput="post_cat_name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category Description</mat-label>
            <input matInput="post_cat_description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category Status</mat-label>
            <input matInput="post_cat_status">
        </mat-form-field>
        <button class="mat-raised-button">Add Category</button>
    </mat-card>
</div>
<app-footer></app-footer>
