<app-header></app-header>
<div class="layout-row layout-warp">
    <div class="title">
        <h3>Posts</h3>
    </div>
    <div class="layout-row flex-row">
        <h4 class="title">Add Post</h4>
    </div>
    <mat-card>
        <mat-form-field>
            <mat-label>Post Category</mat-label>
            <mat-select>
                <mat-option>Category 1</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Post Title</mat-label>
            <input matInput="title">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Author</mat-label>
            <input matInput="author">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Author's Designation</mat-label>
            <input matInput="designation">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Content</mat-label>
            <input matInput="content">
        </mat-form-field>
        <button class="mat-raised-button">Post</button>
    </mat-card>
</div>
<app-footer></app-footer>